body {
  margin: 0px;
}

#app {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 8px;
}

.video-container {
  display: inline-block;
  font-size: 0px;
  position: relative;
}

.video-container ,
.buttons .video-volume-progress,
.buttons .submenu .menu-item,
.menu {
  overflow: hidden;
}

.video-container, .video-container video {
  border-radius: 8px;
}

.video-container video {
  background-color: black;
  height: 100%;
  min-width: 640px;
  max-width: 720px;
  width: 100%;
}
.video-container video::cue {
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 20px;
}

.video-container.fullscreen video {
  border-radius: 0px;
  max-width: 100%;
}

.video-controls {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  border-radius: 0px 0px 8px 8px;
  bottom: 0px;
  color: white;
  height: 45px;
  padding: 0px 15px;
  position: absolute;
  transition: .25s;
  width: calc(100% - 30px);
  z-index: 1;
}

.video-container.playing .video-controls,
.submenu .menu-item,
.menu {
  height: 0px;
}

.video-container.playing:hover .video-controls {
  height: 45px;
}

.video-progress-timeline,
progress,
.buttons .submenu,
.menu-item-title,
.submenu .menu-item {
  width: 100%;
}

.video-progress-timeline {
  height: 14px;
}

progress,
.buttons .video-volume-bar  {
  background: rgba(255, 255, 255, 0.4);
}

progress {
  border: 0px;
  border-radius: 0px;
  height: 3.5px;
}

progress::-moz-progress-bar,
progress::-webkit-progress-value {
  background: red;
}

.buttons {
  height: 24px;
}

.buttons, .buttons .left,
.buttons .right,
.buttons .video-volume,
.buttons .video-time,
.buttons .video-volume-slider,
.buttons .video-speed:hover,
.buttons .video-speed-option,
.video-progress-timeline {
  align-items: center;
  display: flex;
}

.buttons, .buttons .left {
  justify-content: space-between;
}

.buttons .left {
  justify-content: flex-start;
}

.buttons .right {
  justify-content: flex-end;
}

.buttons .video-volume,
.buttons .video-speed,
.buttons .video-speed-option,
.video-progress-timeline,
.buttons span,
.buttons .video-settings {
  cursor: pointer;
}

.buttons .video-volume {
  padding-left: 7px;
}

.buttons .video-volume > :first-child {
  margin-right: 10px;
}

.buttons .video-volume-progress {
  padding: 0px;
}

.buttons .video-volume-slider {
  height: 10px;
  position: relative;
  transition: all 0.25s;
  width: 0px;
}

.buttons .video-volume-bar {
  height: 2px;
  width: 100%
}

.buttons .video-volume-bar-current {
  background-color: white;
  height: 100%;
}

.buttons .video-volume-handler {
  background-color: white;
  border-radius: 50%;
  height: 10px;
  left: 47px;
  position: absolute;
  top: 0px;
  width: 10px;
}

.buttons .video-volume:hover > :first-child {
  margin: 0px;
}

.buttons .video-volume:hover .video-volume-progress {
  padding-left: 10px;
}

.buttons .video-volume:hover .video-volume-slider {
  margin-right: 15px;
  width: 52px;
}

.buttons .video-time {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  height: 17px;
  margin-left: 2px;
}

.buttons .video-settings {
  padding-right: 7px;
}

.buttons .video-settings-menu {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 45px;
  position: absolute;
  right: 15px;
}

.menu, .submenu {
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

.menu-item {
  transition: height 0.25s;
}

.menu-item-title {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  padding: 10px 15px;
}

.menu .menu-item:not(.selected):hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.submenu .menu-item {
  padding: 0px;
}


.menu-item:hover > .submenu .menu-item,
.menu-item > .submenu .menu-item:hover {
  height: 50px;
}

.menu-item.selected {
  background-color: rgba(255, 0, 0, 0.8);
}

.menu.open {
  height: auto;
}
